.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button > p {
  margin: 0;
}

.login-logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-logo > img {
  width: 80px;
}

.login-menulist {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
  margin: 0;
  list-style-type: none;
}

.login-menulist button {
  min-width: 70px;
  padding: 10px 0;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.login-menulist button:hover {
  font-weight: 700;
  border-bottom: 1px solid black;
}

.login-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.login-search {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.login-search input {
  border: none;
  outline: none;
}
img {
  width: 100%;
}

.hnm__productAll {
  padding: 50px 0;
}

.col-lg-3 {
  transition: all 0.5s ease-in-out;
}

.col-lg-3:hover {
  transform: scale(1.05);
}

.Row {
  display: flex;
  gap: 10px;
}

.Col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hnm__product .badge {
  font-size: 10px;
  font-weight: 700;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
}

.hnm__product .badge__reversal {
  color: white;
  border: 1px solid black;
  background-color: black;
}
